.price {
  font-size: 1.5rem;
  /* color: rgb(47, 47, 85); */
}

.dimentions img {
  width: 90%;
  height: auto;
}

.dimentions {
  /* background-color: aqua; */
}

.table {
  width: 20rem;
}
.dimentions2 {
  /* background-color: beige; */
}
.dimentions3 {
  /* background-color: blueviolet; */
}
.header {
  background-color: rgb(53, 156, 163);
  padding-top: 1rem;
  font-size: 4rem;
  color: white;
}

.quantityProducts {
  font-size: 1.5rem;
  color: rgb(43, 38, 38);
  padding-bottom: 1rem;
}

/* .colormirar {
  background-color: antiquewhite;
} */
.hola {
  margin-bottom: -0.5rem;
}
